* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  min-height: 10vh;
  background: #777da7;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 55%;
}

.nav-menu-item a {
  color: rgba(255, 255, 255, 0.98);
  text-decoration: none;
  letter-spacing: 1px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.808);
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .nav-menu {
    flex-direction: column;
    font-size: 2rem;
    transform: translateX(100%);
    justify-content: space-evenly;
    width: 90vw;
    position: absolute;
    height: 90vh;
    right: 0px;
    top: 10vh;
    background-color: #777da780;
    transition: transform 0.5s ease-in;
  }

  .nav-menu-item {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-menu-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
